<div style="font-family:"Andale Mono", AndaleMono, monospace">
<h1 style="color:turquoise">a bit of a temporary page.</h1>

<p style="font-size:11px;color:gray">questions? just<a href="mailto:raielin@gmail.com" style="color:teal">click</a>.
</p>

</div>
